@font-face {
  font-family: "Nunito-Regular";
  src: url("../fonts/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("../fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Italic";
  src: url("../fonts/Nunito-Italic.ttf") format("truetype");
}
